@use '../custom' as *;

.productos{

    &__imagen{
        height: 30rem;
    }
    &__img{
        margin-top: -8rem;
        transform: scale(0.9);
    }
    &__link{
        padding: .9rem;
        text-transform: uppercase;
    }
    &__precio{
        font-size: 2.8rem;
    }
    &__talle{
        font-size: 1.8rem;
    }
}

.productos-interna{
    padding-top: 10rem;
}